$cl-primary: #ddd;
$cl-secondary: #222;
$cl-active: #0d6efd;
$cl-input: rgba(0, 0, 0, 0.05);
$cl-button-hover: rgba(34, 34, 34, 0.5);

$cl-dark-primary: #222;
$cl-dark-secondary: #ddd;
$cl-dark-active: #6610f2;
$cl-dark-input: rgba(255, 255, 255, 0.2);
$cl-dark-button-hover: rgba(255, 255, 255, 0.5);

$cl-white: white;
$cl-black: black;
$cl-star: orange;
