.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 24px 16px;

  .formWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .formIsFavorite {
    position: absolute;
    color: orange;
    font-size: 36px;
    right: 8px;
  }
  
  .formTitle {
    font: 500 24px/24px monospace;
    max-width: 756px;
    min-width: 200px;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
  }

  .formContent {
    padding: 8px;
    max-width: 100%;
    width: 100%;
    min-width: 200px;
    max-height: 600px;
    border-radius: 8px;
    min-height: 168px;
    font: 400 18px/24px monospace;
  }

  .formColor {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    height: 48px;
    width: 48px;
    padding: 0;
    margin: 0;
  }

  .formColor::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  .formColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  .formLabelColor {
    font: 600 18px/24px monospace;
  }

  .formButton {
    font: 600 18px/24px monospace;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 24px;
  }
}