@use '@/assets/variables/__colors.scss' as *;
@use '@/assets/variables/__typography.scss' as *;

.noteItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  max-width: 756px;
  width: 100%;
  border: 1px solid $cl-secondary;
  border-radius: 8px;
  padding: 16px;

  .noteTitleContainer {
    position: relative;
    border-bottom: 1px solid $cl-secondary;
    border-radius: 8px;
    background-color: $cl-input;
  }

  .noteTitle {
    font: 500 24px/24px monospace;
    border: none;
    background-color: transparent;
    padding: 8px;
    width: 100%;
  }

  .noteIsFavorite {
    position: absolute;
    right: 8px;
    top: -4px;
    font-size: 36px;
    color: $cl-star;
  }

  .noteContent {
    font: $font-normal-slim;
    background-color: $cl-input;
    border: none;
    border-radius: 8px;
    padding: 8px;
    min-height: max-content;
    max-width: 100%;
    min-width: 200px;
  }

  .noteRemove {
    font: $font-normal-slim;
    border: 2px solid $cl-primary;
    border-radius: 8px;
    padding: 12px;
    transition-duration: 0.25s;

    &:hover {
      border-color: $cl-button-hover;
    }
  }

  .noteColor {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    height: 36px;
    width: 36px;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .noteColor::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  .noteColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  .noteDate {
    font: 400 16px/20px monospace;
  }

}

:global(.dark) .noteItem {
  border-color: $cl-dark-secondary;

  .noteTitleContainer {
    border-color: $cl-dark-secondary;
    background-color: $cl-dark-input;
    color: white;
  }

  .noteContent {
    background-color: $cl-dark-input;
    color: white;
  }

  .noteRemove {

    &:hover {
      border-color: $cl-dark-button-hover;
    }
  }
}