@use '@/assets/variables/__colors.scss' as *;
@use '@/assets/variables/__typography.scss' as *;

.noteItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  max-width: 756px;
  width: 100%;
  border: 1px solid $cl-secondary;
  border-radius: 8px;
  padding: 16px;

  .noteTitleContainer {
    position: relative;
    border-bottom: 1px solid $cl-secondary;
    border-radius: 8px;
    background-color: $cl-input;
  }

  .noteTitle {
    font: 500 24px/24px monospace;
    border: none;
    background-color: transparent;
    padding: 8px;
  }

  .noteIsFavorite {
    position: absolute;
    right: 0;
    font-size: 24px;
    color: goldenrod;
  }

  .noteContent {
    font: 400 18px/24px monospace;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    padding: 8px;
    min-height: max-content;
  }

  .noteRemove {
    font: 400 18px/24px monospace;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 12px;
  }

  .noteColor {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    height: 36px;
    width: 36px;
    padding: 0;
    margin: 0;
  }

  .noteColor::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  .noteColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  .noteDate {
    font: 400 16px/20px monospace;
  }

}

.dark .noteItem {
  border-color: $cl-dark-secondary;

  .noteTitleContainer {
    border-color: $cl-dark-secondary;
  }

}