@use '@/assets/variables/__colors.scss' as *;
@use '@/assets/variables/__typography.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid $cl-secondary;
  border-radius: 16px;
  padding: 24px 16px;
  max-width: 756px;

  .formWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .formIsFavorite {
    position: absolute;
    color: $cl-star;
    font-size: 36px;
    right: 8px;
    top: -4px;
  }
  
  .formTitle {
    font: 500 24px/24px monospace;
    max-width: 756px;
    min-width: 200px;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid $cl-secondary;
    background-color: $cl-input;
  }

  .formContent {
    padding: 8px;
    max-width: 100%;
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    max-height: 600px;
    border-radius: 8px;
    min-height: 168px;
    font: $font-normal-slim;
    border: none;
    background-color: $cl-input;
  }

  .formColor {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    height: 48px;
    width: 48px;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .formColor::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  .formColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  .formLabelColor {
    font: $font-normal;
  }

  .formButton {
    font: $font-normal;
    border: 2px solid $cl-primary;
    border-radius: 8px;
    padding: 24px;
    transition-duration: 0.25s;

    &:hover {
      border-color: $cl-button-hover;
    }
  }
}

:global(.dark) .form {
  border-color: $cl-dark-secondary;
  
  .formTitle {
    color: $cl-white;
    border-color: $cl-dark-secondary;
    background-color: $cl-dark-input;
  }

  .formContent {
    color: $cl-white;
    background-color: $cl-dark-input;
  }

  .formButton {
    border-color: $cl-dark-secondary;

    &:hover {
      border-color: $cl-dark-button-hover;
    }
  }
}