@use '@/assets/variables/__colors.scss' as *;
@use '@/assets/variables/__typography.scss' as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 100vh;
  height: 100%;
  color: $cl-black;
  background-color: $cl-white;
  transition-duration: 0.25s;
  width: 100%;
  align-items: center;
  padding: 0 24px;

  .pageHeader {
    display: flex;
    flex-direction: row;
    gap: 24px;

    .pageTitle {
      padding: 24px 0;
      text-align: center;
    }

    .pageThemeButton {
      font-size: 24px;
    }
  }

  .pageMain {
    max-width: 756px;
    width: 100%;
  }

  .pageFooter {
    margin-top: auto;
    padding: 24px;
    text-align: center;
  }
}

:global(.dark).page {
  color: $cl-white;
  background-color: $cl-dark-primary;
}